@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap");
@font-face {
  font-family: "BebasNeue";
  src: url(../public/fonts/BebasNeue-Regular.otf);
}

@font-face {
  font-family: "Gothic";
  src: url(../public/fonts/GOTHIC.TTF);
}

@font-face {
  font-family: "GothicBold";
  src: url(../public/fonts/GOTHICB.TTF);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*Equivalent to 10px*/
  scroll-behavior: smooth;
  background-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  overflow-x: hidden;
}

.header {
  width: 100vw;
  height: 5rem;
  position: relative;
  position: fixed;
  background: transparent;
  z-index: 25;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.nav {
  width: 100vw;
  height: 100vh;
  position: relative;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 99;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

@media only screen and (min-width: 1024px) {
  .nav {
    width: 60%;
    height: 5rem;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}

.nav::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: 0.9;
  z-index: -1;
}

@media only screen and (min-width: 1024px) {
  .nav::after {
    display: none;
  }
}

.nav .ul {
  width: 100%;
  height: 70%;
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media only screen and (min-width: 620px) {
  .nav .ul {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 768px) {
  .nav .ul {
    margin-top: 15rem;
  }
}

@media only screen and (min-width: 1024px) {
  .nav .ul {
    width: 100%;
    height: 100%;
    margin-top: 0;
    flex-direction: row;
    justify-content: center;
  }
}

.nav .ul .li {
  list-style-type: none;
  margin-top: 3.5rem;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .nav .ul .li {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .nav .ul .li {
    margin-top: 0;
  }
  .nav .ul .li:not(:last-child) {
    margin-right: 4rem;
  }
}

.nav .ul .li:hover > .triangle {
  width: 100%;
}

.nav .ul .li:hover > .triangle::after {
  visibility: visible;
}

.nav .ul .li .links {
  text-decoration: none;
  color: #fff;
  font-size: 3.5rem;
  letter-spacing: 0.3rem;
}

@media only screen and (min-width: 620px) {
  .nav .ul .li .links {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .nav .ul .li .links {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .nav .ul .li .links {
    font-size: 1.8rem;
  }
}

.navShow {
  left: 0;
}

.burger {
  width: 10rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

@media only screen and (min-width: 1024px) {
  .burger {
    display: none;
  }
}

.burger .burger-box {
  width: 6rem;
  height: 2rem;
  position: relative;
  cursor: pointer;
}

.burger .burger-box .top,
.burger .burger-box .middle,
.burger .burger-box .bottom {
  height: 0.2rem;
  background-color: #fff;
  position: relative;
  position: absolute;
  right: 0;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.burger .burger-box .top,
.burger .burger-box .bottom {
  width: 4rem;
}

.burger .burger-box .top {
  top: 0;
}

.burger .burger-box .middle {
  width: 3rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.burger .burger-box .bottom {
  bottom: 0;
}

.burger .burger-box .lineChange {
  background-color: #050505;
}

.burger .burger-box .topChange {
  width: 3rem;
  background-color: #f07c2f;
  position: absolute;
  top: 50%;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
}

.burger .burger-box .middleChange {
  display: none;
}

.burger .burger-box .bottomChange {
  width: 3rem;
  background-color: #f07c2f;
  position: absolute;
  top: 50%;
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  -moz-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  -o-transform: rotate(-225deg);
}

.hero {
  height: 65vh;
  width: 100vw;
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../public/images/FireWatchHD.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (min-width: 620px) {
  .hero {
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    height: 65vh;
  }
}

@media only screen and (min-width: 1024px) {
  .hero {
    height: 68vh;
  }
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #050505;
  opacity: 0.7;
  /* z-index: -1; */
}

.hero .hero-company {
  width: 80%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
}

@media only screen and (min-width: 620px) {
  .hero .hero-company {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .hero .hero-company {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  .hero .hero-company {
    top: 55%;
  }
}

.hero .hero-company .name {
  width: 100%;
  height: auto;
  margin: 0 auto 4rem;
  margin-bottom: 4rem;
}

@media only screen and (min-width: 768px) {
  .hero .hero-company .name {
    width: 70%;
  }
}

@media only screen and (min-width: 1024px) {
  .hero .hero-company .name {
    width: 50%;
  }
}

.hero .hero-company .name .name-img {
  width: 85%;
  height: 85%;
  object-fit: contain;
}

.hero .hero-company .title {
  font-family: "Gothic", sans-serif;
  font-size: 1.75rem;
  text-transform: initial;
}

@media only screen and (min-width: 1024px) {
  .hero .hero-company .title {
    font-size: 2.15rem;
  }
}

.hero .hero-company .cta-box {
  width: 100%;
  height: auto;
  margin: 2rem auto 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .hero .hero-company .cta-box {
    margin: 2 auto 0;
    flex-direction: row;
    justify-content: initial;
    justify-content: center;
    align-items: center;
  }
}

.hero .hero-company .cta-box .cta-btn {
  width: 17rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .hero .hero-company .cta-box .cta-btn:nth-of-type(1) {
    margin-right: 1rem;
  }
}

.hero .hero-company .cta-box .cta-btn .cta-btn-learn,
.hero .hero-company .cta-box .cta-btn .cta-btn-build {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.hero .hero-company .cta-box .cta-btn .cta-btn-learn {
  border: 1px solid #fff;
}

.hero .hero-company .cta-box .cta-btn .cta-btn-learn:hover {
  background-color: #fff;
  color: #050505;
}

.hero .hero-company .cta-box .cta-btn .cta-btn-build {
  margin-top: 2rem;
  background-color: #f07c2f;
}

@media only screen and (min-width: 1024px) {
  .hero .hero-company .cta-box .cta-btn .cta-btn-build {
    margin-top: 0;
  }
}

.hero .hero-company .cta-box .cta-btn .cta-btn-build:hover {
  background-color: #e75410;
}

.logo-box {
  width: 6rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .logo-box {
    width: 6rem;
  }
}

.logo-box .logo-link {
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box .logo-link .logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.jumbo {
  position: relative;
  width: 100%;
  height: 100vh;
}

@media only screen and (min-width: 620px) {
  .jumbo {
    height: 175vh;
  }
}

@media only screen and (min-width: 768px) {
  .jumbo {
    height: 100vh;
  }
}

.info-pack {
  width: 100%;
  height: 35vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 620px) {
  .info-pack {
    height: 75vh;
  }
}

@media only screen and (min-width: 768px) {
  .info-pack {
    height: 35vh;
  }
}

@media only screen and (min-width: 1024px) {
  .info-pack {
    height: 32vh;
  }
}

.info-pack .shape-box {
  width: 100%;
  height: 10%;
  display: flex;
  position: relative;
}

.info-pack .shape-box .shapes {
  width: calc(100% / 3);
  height: 170%;
  position: absolute;
  top: -85%;
  background-color: #fff;
}

.info-pack .shape-box .shape1 {
  left: 0;
}

.info-pack .shape-box .shape2 {
  background: transparent;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.info-pack .shape-box .shape2::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -50%;
  background-color: #fff;
  transform: skew(45deg);
  -webkit-transform: skew(45deg);
  -moz-transform: skew(45deg);
  -ms-transform: skew(45deg);
  -o-transform: skew(45deg);
}

.info-pack .shape-box .shape2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -50%;
  background-color: #fff;
  transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  -moz-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  -o-transform: skew(-45deg);
}

.info-pack .shape-box .shape3 {
  right: 0;
}

.info-pack .info-container {
  width: 100%;
  height: 90%;
  margin: 0 auto;
  max-width: 120rem;
  overflow-x: hidden;
}

.info-pack .info-container .slider-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.info-pack .info-container .slider-container .slider-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.info-pack .info-container .slider-container .slider-wrapper .slides {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #fff;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}

.info-pack .info-container .slider-container .slider-wrapper .slides .info-title {
  font-size: 2.25rem;
  margin-top: 1rem;
}

.info-pack .info-container .slider-container .slider-wrapper .slides .info-content {
  width: 60%;
  margin: 0 auto;
  font-size: 1.7rem;
  text-transform: initial;
  text-align: justify;
  text-indent: 2rem;
}

.info-pack .info-container .slider-container .slider-wrapper .slide1 {
  left: 0;
}

.info-pack .info-container .slider-container .slider-wrapper .slide2 {
  left: 100%;
}

.info-pack .info-container .slider-container .slider-wrapper .slide3 {
  left: 200%;
}

.info-pack .info-container .slider-container .pagination {
  width: 50%;
  height: 4rem;
  margin: 0 auto 0.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-pack .info-container .slider-container .pagination .dots {
  width: 1rem;
  height: 1rem;
  border: 0.5px solid #050505;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  cursor: pointer;
}

.info-pack .info-container .slider-container .pagination .dots:not(:last-child) {
  margin-right: 0.75rem;
}

.section-award {
  height: 10rem;
  background-color: antiquewhite;
}

.section-demo {
  height: 250rem;
  position: relative;
}

.section-demo .section-headwrapper {
  width: 100%;
  height: auto;
  position: relative;
  position: sticky;
  top: calc(0% + 5rem);
  z-index: 5;
}

.section-demo .section-headwrapper .section-head {
  width: 100%;
  height: 8rem;
  background-color: #fff;
}

.section-demo .section-headwrapper .content-box {
  width: 100%;
  height: 22rem;
  position: relative;
  background-color: #fff;
}

.section-demo .section-headwrapper .content-box .content-title {
  width: 60%;
  margin: 0 auto;
  position: relative;
  padding-top: 1rem;
  font-size: 2.1rem;
  font-family: "GothicBold", sans-serif;
  -webkit-text-stroke: 0.1rem #f07c2f;
  -webkit-text-fill-color: transparent;
}

.section-demo .section-headwrapper .content-box .content-title::after {
  content: "";
  width: 100%;
  height: 0.15rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-bottom: 0.1rem dotted #050505;
}

.section-demo .section-headwrapper .content-box .content-info {
  width: 60%;
  margin: 1rem auto 0;
  font-size: 1.7rem;
  text-transform: initial;
  text-align: justify;
  text-indent: 2rem;
}

.section-demo .section-headwrapper .content-box .content-btn {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-demo .section-headwrapper .content-box .content-btn .btn {
  position: relative;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #050505;
  font-size: 1.5rem;
  letter-spacing: 0.4rem;
  border: 0.1rem solid #050505;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.section-demo .section-headwrapper .content-box .content-btn .btn:hover {
  background-color: #f07c2f;
  color: #fff;
  border: 0.1rem solid #f07c2f;
}

.section-demo .box-items-container {
  width: 100%;
  height: 60rem;
  position: relative;
  position: absolute;
  top: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-demo .box-items-container .box-items {
  width: 25rem;
  height: 15rem;
  background-color: green;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.section-demo .box-items-container .box-items:not(:last-child) {
  margin-bottom: 2rem;
}

.sections {
  width: 100%;
}

.section-news {
  height: 60rem;
  background-color: aqua;
}

.section-reviews {
  height: 60rem;
  background-color: #85e7e7;
}

.triangle {
  width: 0;
  height: 0.1rem;
  background-color: #f07c2f;
  position: relative;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.triangle::after {
  content: "";
  visibility: hidden;
  width: 0;
  height: 0;
  border: 0.55rem solid #f07c2f;
  border-top-color: transparent;
  border-left-color: transparent;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
}

@media only screen and (min-width: 1024px) {
  .triangle::after {
    border: 0.35rem solid #f07c2f;
    border-top-color: transparent;
    border-left-color: transparent;
  }
}

.triangle-solid {
  width: 80%;
  height: 0.1rem;
  background-color: #050505;
  position: relative;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.triangle-solid::after {
  content: "";
  width: 0;
  height: 0;
  border: 0.55rem solid #050505;
  border-top-color: transparent;
  border-left-color: transparent;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
}

.diamond-line {
  width: 60%;
  height: 0.1rem;
  margin: 1rem auto 2rem;
  position: relative;
  background-color: #050505;
}

.diamond-line::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #050505;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
}

.diamond-ends {
  width: 120%;
  height: 0.1rem;
  background-color: #fff;
  position: relative;
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.diamond-ends::before {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.diamond-ends::after {
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) rotate(45deg);
  -moz-transform: translateY(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) rotate(45deg);
  -o-transform: translateY(-50%) rotate(45deg);
}

.section-title {
  width: 100%;
  height: 6rem;
  margin: 0 auto;
  padding-top: 2rem;
  position: relative;
}

.section-title .title {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-family: "Barlow Condensed", sans-serif;
}

.section-title .triangle-solid {
  width: 80%;
  height: 0.1rem;
  background-color: #050505;
  position: relative;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.section-title .triangle-solid::after {
  content: "";
  width: 0;
  height: 0;
  border: 0.55rem solid #050505;
  border-top-color: transparent;
  border-left-color: transparent;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
}
/*# sourceMappingURL=styles.css.map */