.section-demo {
  height: 250rem;
  position: relative;

  .section-headwrapper {
    width: 100%;
    height: auto;
    position: relative;
    position: sticky;
    top: calc(0% + 5rem);
    z-index: 5;

    .section-head {
      width: 100%;
      height: 8rem;
      background-color: $color-lite;
    }

    .content-box {
      width: 100%;
      height: 22rem;
      // margin-top: 2rem;
      position: relative;
      background-color: $color-lite;

      .content-title {
        width: 60%;
        margin: 0 auto;
        position: relative;
        padding-top: 1rem;
        font-size: 2.1rem;
        font-family: $quaternary-font;
        -webkit-text-stroke: 0.1rem $color-orange;
        -webkit-text-fill-color: transparent;

        &::after {
          content: "";
          width: 100%;
          height: 0.15rem;
          @include absol-bottomCenter;
          border-bottom: 0.1rem dotted $color-dark;
        }
      }

      .content-info {
        width: 60%;
        margin: 1rem auto 0;
        font-size: 1.7rem;
        text-transform: initial;
        text-align: justify;
        text-indent: 2rem;
      }

      .content-btn {
        width: 100%;
        height: auto;
        margin-top: 2rem;
        // border: 1px solid red;
        @include flex-center;

        .btn {
          position: relative;
          padding: 0.5rem 1rem;
          text-decoration: none;
          color: $color-dark;
          font-size: 1.5rem;
          letter-spacing: 0.4rem;
          border: 0.1rem solid $color-dark;
          display: flex;
          justify-content: center;
          align-items: center;
          @include transit3;

          &:hover {
            background-color: $color-orange;
            color: $color-lite;
            border: 0.1rem solid $color-orange;
          }
        }
      }
    }
  }

  .box-items-container {
    width: 100%;
    height: 60rem;
    position: relative;
    position: absolute;
    top: 60%;
    @include flex-center;
    flex-direction: column;
    // opacity: 0;

    .box-items {
      width: 25rem;
      height: 15rem;
      background-color: green;
      // opacity: 0;
      @include transit3;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}
