.section-demo {
  height: 250rem;
  position: relative;

  .section-headwrapper {
    position: relative;
    position: sticky;
    top: 13%;
    z-index: 5;
    // border: 0.1rem solid red;

    .content-box {
      width: 100%;
      height: 22rem;
      position: relative;
      background-color: $color-lite;

      .content-title {
        width: 60%;
        margin: 0 auto;
        position: relative;
        padding-top: 1rem;
        font-size: 2.1rem;
        font-family: $quaternary-font;
        -webkit-text-stroke: 0.1rem $color-orange;
        -webkit-text-fill-color: transparent;
        // border: 1px solid red;

        &::after {
          content: "";
          width: 100%;
          height: 0.15rem;
          @include absol-bottomCenter;
          background-color: $color-dark;
        }
      }

      .content-info {
        width: 60%;
        margin: 1rem auto 0;
        font-size: 1.7rem;
        text-transform: initial;
        text-align: justify;
        text-indent: 2rem;
      }

      .content-btn {
        width: 100%;
        height: auto;
        margin-top: 2rem;
        // border: 1px solid red;
        @include flex-center;

        .btn {
          position: relative;
          padding: 0.5rem 1rem;
          text-decoration: none;
          color: $color-dark;
          font-size: 1.5rem;
          letter-spacing: 0.4rem;
          border: 0.1rem solid $color-dark;
          display: flex;
          justify-content: center;
          align-items: center;
          @include transit3;

          &:hover {
            background-color: $color-orange;
            color: $color-lite;
            border: 0.1rem solid $color-orange;
          }
        }
      }
    }
  }

  .box-items {
    width: 24rem;
    height: 10rem;
    margin-bottom: 2rem;
    background-color: green;
    position: absolute;
    top: 80vh;
    left: 50%;
    @include transformX;
    @include transit3;
    opacity: 0;
  }

  .box-items:nth-of-type(2) {
    top: 110vh;
  }

  .box-items:nth-of-type(3) {
    top: 140vh;
  }
}
