.section-award {
  height: 45rem;
  background: url(../public/images/DDLogo.png);
  background-position: center;
  background-size: 30rem auto;
  background-repeat: no-repeat;
  filter: drop-shadow(1rem 1rem 1rem #0a0a0a55);
  -webkit-filter: drop-shadow(1rem 1rem 1rem #0a0a0a55);
}
