.nav {
  @include keep-it-hundo-view;
  position: relative;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 99;
  @include transit3;

  @include tabletLandscape {
    & {
      width: 60%;
      height: 5rem;
      top: 0;
      left: 50%;
      @include transformX;
    }
  }

  &::after {
    content: "";
    @include keep-it-hundo;
    @include absol-topLeftZero;
    background-color: $color-dark;
    opacity: 0.9;
    z-index: -1;

    @include tabletLandscape {
      & {
        display: none;
      }
    }
  }

  .ul {
    width: 100%;
    height: 70%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @include phoneLandscape {
      & {
        margin-top: 5rem;
      }
    }

    @include tabletPortrait {
      & {
        margin-top: 15rem;
      }
    }

    @include tabletLandscape {
      & {
        @include keep-it-hundo;
        margin-top: 0;
        flex-direction: row;
        justify-content: center;
      }
    }

    .li {
      list-style-type: none;
      margin-top: 3.5rem;
      position: relative;

      @include tabletPortrait {
        & {
          margin-top: 4rem;
        }
      }

      @include tabletLandscape {
        & {
          margin-top: 0;
        }

        &:not(:last-child) {
          margin-right: 4rem;
        }
      }

      &:hover > .triangle {
        width: 100%;
      }

      &:hover > .triangle::after {
        visibility: visible;
      }

      .links {
        text-decoration: none;
        color: #fff;
        font-size: 3.5rem;
        letter-spacing: 0.3rem;

        @include phoneLandscape {
          & {
            font-size: 2rem;
          }
        }

        @include tabletPortrait {
          & {
            font-size: 4rem;
          }
        }

        @include tabletLandscape {
          & {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

// JS CLASS TARGET

.navShow {
  left: 0;
}
