.burger {
  width: 10rem;
  height: 100%;
  // margin-right: 0.1rem;
  @include absol-topRightZero;
  @include flex-center;
  z-index: 100;

  @include tabletLandscape {
    & {
      display: none;
    }
  }

  .burger-box {
    width: 6rem;
    height: 2.5rem;
    position: relative;
    cursor: pointer;
    // border: 1px solid red;

    .top,
    .middle,
    .bottom {
      height: 0.2rem;
      background-color: $color-lite;
      position: relative;
      position: absolute;
      right: 0;
      @include transit2;
    }

    .top,
    .bottom {
      width: 4rem;
    }

    .top {
      top: 0;
    }

    .middle {
      width: 3rem;
      top: 50%;
      @include transformY;
    }

    .bottom {
      bottom: 0;
    }

    // JS CLASS TARGET

    .lineChange {
      background-color: $color-dark;
    }

    .topChange {
      background-color: $color-orange;
      position: absolute;
      top: 50%;
      transform: rotate(225deg);
      -webkit-transform: rotate(225deg);
      -moz-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      -o-transform: rotate(225deg);
    }

    .middleChange {
      display: none;
    }

    .bottomChange {
      background-color: $color-orange;
      position: absolute;
      top: 50%;
      transform: rotate(-225deg);
      -webkit-transform: rotate(-225deg);
      -moz-transform: rotate(-225deg);
      -ms-transform: rotate(-225deg);
      -o-transform: rotate(-225deg);
    }
  }
}
