.header {
  width: 100vw;
  height: 7rem;
  position: relative;
  position: fixed;
  background: transparent;
  z-index: 5;

  @include tabletPortrait {
    & {
      height: 6rem;
      @include transit3;
    }
  }
}
